body {
    font-size: 0px;
    background-color: black;
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center top;
}

@font-face {
    font-family: “Starfont”;
    src: url('assets/starwarfont.TTF');
}

@media screen and (max-width: 1400px) {
    body {
        background-size: 100%;
    }
}
body > * {
    font-size: 12px;
}

@-webkit-keyframes blackcheckers {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes blackcheckers {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes blackcheckers { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
.blackgradient{
    background: linear-gradient(32deg, #000000, #4c4b4f);
    background-size: 400% 400%;
    -webkit-animation: blackcheckers 23s ease infinite;
    -moz-animation: blackcheckers 23s ease infinite;
    animation: blackcheckers 23s ease infinite;
}
@-webkit-keyframes redcheckers {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@-moz-keyframes redcheckers {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@keyframes redcheckers { 
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
.redgradient{
    background: linear-gradient(32deg, #000000, #ff0000);
    background-size: 400% 400%;
    -webkit-animation: redcheckers 23s ease infinite;
    -moz-animation: redcheckers 23s ease infinite;
    animation: redcheckers 23s ease infinite;
}
#player1{
    position: relative;
    left: 10%;
    height: 420px;
    border: 4px #FFB03F solid;
    background-color: black;
    opacity: 0.75;
}
#player2{
    position: relative;
    float: right;
    right: 10%;
    height: 420px;
    border: 4px #C50C2C solid;
    background-color: black;
    opacity: 0.60;
}
#board-container {
    width: 45%;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

#board {
    margin: auto;
    background-color: limegreen;
}


.tile-container {
    box-sizing: border-box;
    border: solid black 2px;
    display: inline-block;
}

.buffer {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    text-align: center;
}

.tile {
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 100%;
    box-sizing: border-box;
    display: inline-block;
}

.white {
    background-image: url("assets/white1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: solid black;
}

.black {
    background-image: url("assets/black2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: solid black;
}

.row{
    height: auto;
    max-height: 400px;
    width: 85%;
}
.square{
    height: 9vh;
    width: 16vw;
    background-color: white;
    border: 1px black solid;
    #overflow: hidden;
}
.title{
    font-family: Starfont,sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    background: -webkit-linear-gradient(#ff0000,#4c4b4f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
div h3{
    text-align: center;
    color: white;
}
#rebelScore, #empireScore{
    text-align: center;
}
#rebelScore{
    color: white;
    border: 2px #FFB03F solid;
    padding: 20px;
    font-size: 30px;
    font-family: Starfont,sans-serif;
}
#empireScore{
    color: white;
    border: 2px #C50C2C solid;
    padding: 20px;
    font-size: 30px;
    font-family: Starfont,sans-serif;

}
.clickable {
    background-color: #ffba00!important;
}

.pathway {
    -webkit-box-shadow: inset 0 0 0 10px rgba(255,255,255, .4);
    -moz-box-shadow: inset 0 0 0 10px rgba(255,255,255, .4);
    box-shadow: inset 0 0 0 10px rgba(255,255,255, .4);
}

/*Modal CSS*/
.vertical-alignment-help{
    display: table;
    height: 100%;
    width: 100%;
}
.vertical-align-center{
    display: table-cell;
    vertical-align: middle;
}
.modal-content{
    background-image: url('http://img15.deviantart.net/f3a7/i/2015/319/2/3/star_wars_yin_yang_desktop_wallpaper_by_swmand4-d7m8qpt.jpg');
    background-position: center;
    background-size: cover;
    margin: auto;
    width: inherit;
    height: inherit;
    overflow: hidden;
}
.modal-header h1{
    text-align: center;
    font-family: san-serif Serif-Gothic;
    color: rgb(255,176,63);
    font-weight: bold;
    font-size: 55px;
    text-shadow: -2px -2px #000000;

}
#rebeltitle{
    display: inline-block;
    float: left;
    text-align: center;
    color: rgb(255,176,63);
    font-weight: bold;
    text-shadow: -2px -2px #000000;
;
}
#empiretitle{
    display: inline;
    bottom: 15%;
    float: right;
    color: rgb(255,176,63);
    font-weight: bold;
    text-shadow: -2px -2px #000000;
}
#rebelbutton{
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/27/5b/ed/275bedfe662fc545fa77d32e511b0609.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #252527;
    background-size: 120%;
    height: 40vh;
    margin-left: 5%;
    color: black;
    font-weight: bold;
    width: 200px;
    float: left;
}
#empirebutton{
    background-image: url('https://vignette3.wikia.nocookie.net/starwars/images/3/37/Vader_TFU.jpg/revision/latest/scale-to-width-down/210?cb=20081111171655');
    background-position: 24%95%;
    background-size: 100%;
    background-color: black;
    height: 40vh;
    background-repeat: no-repeat;
    margin-right: 5%;
    float: right;
    width: 200px;

}

/*Modal Text SCrolling*/
.star-wars{
    background-image: url('https://i.ytimg.com/vi/EZ7la-hMNuk/maxresdefault.jpg');
    display: flex;
    height: 100vh;
    perspective: 400px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 6px;
    font-size: 500%;
    font-weight: 600;
    line-height: 150%;
}

#howtoplay {
    color: #feda4a;
    text-align: center;
    font-size: 100px;
}
.crawl{
    top: 9999px;
    top: -100px;
    transform-origin: 50% 100%;
}
@keyframes crawl{
    0%{
        top: 0;
        transform: rotateX(25deg) translateZ(-100px) translateY(600px);
    }
    100%{
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
.crawl{
    position: relative;
    transform-origin: 50% 100%;
    animation: crawl 75s linear;
}
img{
    height: inherit;
    width: inherit;
    display: block;
    margin: 0 auto;

}
.hidden{
    display: none;
}



























